body {
    font-family: Arial, sans-serif;
    background: #94bb68;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .chat-container {
    width: 400px;
    height: 600px;
    background: white;
    background-image: url('./Icons/Plano\ -\ Chat.png');
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-size: cover;      
    background-repeat: no-repeat; 
    background-position: center;  
  }
  
  .chat-header {
    background-color: #647e37;
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
  }
  
  .chat-box {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    margin: 10px 0;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
  }
  
  .user {   
    background-color: #e5e5e5;
    align-self: flex-end;
    text-align: right;
  }
  
  .bot {
    background-color: #e5e5e5;
    align-self: flex-start;
  }
  
  .input-box {
    display: flex;
    border-top: 1px solid #ccc;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    outline: none;
    font-size: 14px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #647e37;
    color: white;
    border: none;
    cursor: pointer;
  }         

  .navbar {
    background-color: #777; 
    border: #777;
    position: fixed;  
    top: 0;           
    left: 0;
    width: 100%;
    color: white;
    padding: 15px;
    z-index: 1000;    
  }